.popup {
    width: 120px; 
    height: 40px; 
    color: white; 
    background-color: green; 
    padding: 10px; 
    position: absolute;
    display: none;
}

.action-text:hover {
    cursor: pointer;
    color: yellow;
}

.flex {
    display: flex;
}

.color-option {
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid black;
}

.color-option:hover {
    border: 1px solid pink;
    cursor: pointer;
}

.ml-5 {
    margin-left: 15px;
}